# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and
KV_URL=XXXXXXXX
KV_REST_API_URL=XXXXXXXX
KV_REST_API_TOKEN=XXXXXXXX
KV_REST_API_READ_ONLY_TOKEN=XXXXXXXX

BLOB_READ_WRITE_TOKEN="vercel_blob_xxxx"

STRIPE_SECRET_KEY=sk_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICING_ID=prctbl_xxx
STRIPE_PUBLISHABLE_KEY=pk_live_xxx

# One-time credit purchases (production)
STRIPE_TOPUP_5_PRICE_ID=price_xxxxx
STRIPE_TOPUP_10_PRICE_ID=price_xxxxx
STRIPE_TOPUP_99_PRICE_ID=price_xxxxx


NEXT_PUBLIC_SUPABASE_ANON_KEY=xxx
NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_POSTHOG_KEY=phc_xxx
NEXT_PUBLIC_CRISP_WEBSITE_ID=xxx

REPLICATE_API_TOKEN=xxx
FAL_KEY=xxx
GOOGLE_GENERATIVE_AI_API_KEY=xxx
TELEGRAM_WEBHOOK_URL=
