.uploadPage {
    h1 {
        line-height: 3;
    }
    h2 {
        line-height: 3;
    }

    .rt-TextFieldChrome {
margin:0;padding:0;
    }

 a {
    color: #fff;
    text-decoration-line: underline;
    display: inline-block;
    &:hover {
        background: #333;
    }

}
}
