// original code https://codepen.io/rachelmcgrane/pen/VexWdX

#wave {
	width: 198px;
	fill: url(#header-shape-gradient) #fff;
}
#header-shape-gradient {
  --color-stop: rgb(from rgb(var(--brand-purple)) calc(r * 1.2) calc(g * 1.2) calc(b * 1.2));
  --color-bot: rgb(from rgb(var(--brand-red)) calc(r * 1.1) calc(g * 1.1) calc(b * 1.1));
}
@for $i from 1 through 17 {
	#Line_#{$i} {
		animation: pulse 0.75s infinite;
		animation-delay: ($i * 0.2s) % 0.75s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}

	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}
