name: Run Unit Tests

permissions:
  # e.g. contents: read permits an action to list the commits, and contents: write allows the action to create a release
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

concurrency:
    group: ${{ github.ref }}-${{ github.workflow }}
    cancel-in-progress: true

jobs:
  test:
    # Skip if PR is a draft
    # if: github.event.pull_request.draft == false || github.event_name == 'push'

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Redis binary
        uses: actions/cache@v4
        with:
          path: ~/.cache/redis-binaries
          key: ${{ runner.os }}-redis-binaries-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-redis-binaries-

      - name: Run tests
        run: pnpm test
        env:
          REDIS_MEMORY_SERVER_CACHE_DIR: ~/.cache/redis-binaries
