name: Run Unit Tests

permissions:
  # e.g. contents: read permits an action to list the commits, and contents: write allows the action to create a release
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    # Skip if PR is a draft
    # if: github.event.pull_request.draft == false || github.event_name == 'push'

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.9.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10.20.0

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          REDISMS_DISABLE_POSTINSTALL: 1

      - name: Start Redis
        uses: supercharge/redis-github-action@bc274cb7238cd63a45029db04ee48c07a72609fd # 1.8.1
        with:
          redis-version: 7

      - name: Run tests
        run: pnpm test
